services:
  postgres:
    image: postgres:13
    container_name: postgres911
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
      - ./backups:/backups
    networks:
      backend:
        ipv4_address: 172.28.0.10

  adminer:
    image: adminer
    container_name: adminer
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    networks:
      backend:
        ipv4_address: 172.28.0.11

  backend:
    build: 
      context: .
      dockerfile: backend/dockerfile
    container_name: rest_backend
    depends_on:
      - postgres
    ports:
      - "9090:8081"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      JWT_TOKEN: ${JWT_SECRET}
    networks:
      backend:
        ipv4_address: 172.28.0.12

  frontend:
    build:
      context: ./web
      dockerfile: Dockerfile.frontend
    container_name: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - '8082:80'
    networks:
      backend:
        ipv4_address: 172.28.0.13
    environment:
      TZ: Europe/Vienna
    volumes:
      - ./web/frontend:/app/frontend
      - /app/frontend/node_modules

networks:
  backend:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/16
